/* Could Not find Miama fonts in google fonts so used Lavishly Yours which was similar */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lavishly+Yours&display=swap');

*{
  font-family: "Inter";
  margin: 0;
  color: rgb(255, 255, 255);
}

html{
  background-color: rgba(0,0,0,255);
}

.lavishly-font{
  font-family: "Lavishly Yours";
}

.secondary-colour{
  color: rgba(255, 255, 255, 0.5);
}

.red-colour{
  color:rgb(230, 83, 60);
}

.primary-button{
  background-color: rgb(230, 83, 60);
  color:rgb(255, 255, 255);
  border-radius: 44px;
  border: none;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

.secondary-button{
  background-color: transparent;
  color:rgb(255, 255, 255);
  border-radius: 44px;
  border: 1px solid rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.125rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

/* Navbar Styles */

header{
  background:linear-gradient(180.00deg, rgba(0,0,0,255),rgba(36,36,36,255),rgba(0,0,0,255));
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: space-around;
  padding-top: 3.5rem;
  gap: 5rem;
}

.company-name{
  font-weight: 800;
  font-size: 2.25rem;
}

ul{
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding-left: 0.2rem;
  padding-right: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

ul li{
  list-style: none;
}

li a{
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
}

.home{
  padding: 0.5rem 1.25rem;
}

/* Banner Styles */

.banner-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3.75rem 0;
  gap: 9rem;
}

.banner-content{
  width: 25%;
}

.banner-title{
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.banner-description{
  font-size: 1rem;
  font-weight: 400;
  margin: 1.75rem 0;
}

.badge{
  width: 12.5rem;
  height: 6.125rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
}



.red-circle{
  width: 2.5rem;
  height: 2.5rem;
  background: rgb(230, 83, 60);
  border-radius: 50%;
  margin-right: 15px;
}

#workout{
  position: absolute;
  margin-top: -28.5rem;
  margin-left: 13rem;
  
}

#tutorial{
  position: absolute;
  margin-top: -11rem;
  margin-left: -6rem;
}

/* Habits Section Styles */

.habits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 100px auto;
  text-align: center;
}

.habit-container{
  display: flex;
  gap: 2.5rem;
}

.habit-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.card-img{
  width: 14.5rem;
  border: 5px solid rgba(26,26,26,255);
  border-radius: 50%;
  overflow: hidden;
}

.card-img img{
  width: 100%;
}

.habit-title{
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0%;
}

.habit-desc{
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-desc{
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  font-size: 0.875rem;
}

/* Extra mile section */

.mile{
  display: flex;
  width: 80%;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin: 100px auto;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}

.mile-content{
  width: 20%;
}

.mile-title{
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
}

.mile-desc{
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  font-size: 0.875rem;
  margin-top: 0.875rem;
  margin-bottom: 1.125rem;
}

.mile-img{
  width: 40%;
  height: 23rem;
  overflow: hidden;
  border-radius: 18px;
}

.mile-img img{
  margin-top: -13.5rem;
  margin-left: -40rem;
}

/* BMI styles */

.BMI-container{
  background-color: rgb(34, 34, 34);
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: space-evenly;
}

.chart{
  width: 30%;
}

.chart-title{
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 3.5rem;
}

table, th, td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  text-align: left;
}

table{
  margin-top: 1rem;
  width: 70%;

}

th{
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
}

td{
  font-size: 0.875rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
}

.calculator-container{
  width: 35%;
}

.calculator-title{
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 0.875rem;
}

.calculator-desc{
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.calculator{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
  margin: 34px 0;
}

#Activity{
  grid-column: 1 / span 2;
}

/* Team section styles */

.team-container{
  width: 80%;
  margin: 88px auto;
 
  display: flex;
  flex-direction: column;
  align-items: center;

}

.team-title{
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 0.875rem;
  text-align: center;
}

.team-desc{
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  width: 70%;
  text-align: center;
}

.team{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1); 
  padding: 1.5rem;
  margin-top: 3.6rem;
  width: 80%;
  gap: 1.25rem;
}

#member1{
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 18px;
  background: url(../images/trainer1.png),rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 1rem;
}

#member2{
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 18px;
  background: url(../images/trainer2.png),rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 1rem;
}

#member3{
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 18px;
  background: url(../images/trainer3.png),rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 1rem;
}

#member4{
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 18px;
  background: url(../images/trainer4.png),rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 1rem;
}

#member5{
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 18px;
  background: url(../images/trainer5.png),rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 1rem;
}

#member6{
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 18px;
  background: url(../images/trainer6.png),rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

